/* Place CSS styles here */
body {
  background-color: #fbda9d;
  color:#2b2bf0;
  font-family: "Merriweather", serif;
  font-size: 16px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: #1b1b1b;
  font-family: "Karla", sans-serif;

}

p {
  font-size: 18px;
}

.green-cat-meta {
  font-size: 32px;
}

.mango-zebra {
  border: 1px solid #000;
  background-color: white;
}

.purple-cat-restaurant {
  border: 1px solid black;
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
}

.purple-cat-events {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px
}

.purple-cat-event p {
  color: red;
}

.purple-cat-event img {
  width: 100%;
}

.march-top-area {
  background-color: lightgrey;
}

.march-top-area p {
  color: green;
}

.march-top-area span {
  background-color: white;
}

.green-cat-row {
  display: flex;
  align-items: center;
  gap: 30px;
  border: 1px solid black;
  margin: 10px;
}

.yellow-tiger-flex-row {
  display: flex;
  background-color: yellow; 
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}

.yellow-tiger-grid-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: orange; 
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}

.yellow-tiger-fs {
  min-height: 100vh;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  background: lightgreen;
}

.pre-bday-outer {
  background-color: #f0f0f0;}

.pre-bday-inner {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.pre-bday-row {
  display: flex;
  gap: 20px
}